body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #bd8686;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.Daniela {
  font-family: Lemonmilk Regular;
  color: #ffffff;
  font-size: 24px;

}



.paginainicial {
  text-align: center;
  border-color: #ffffff;
  font-family: Lemonmilk Regular;
  color: #ffffff;
  text-decoration: none;
  margin-left: 80px;
  display: inline-block; 
}
.musicas {

    text-align: center;
    border-color: #ffffff;
    font-family: Lemonmilk Regular;
    color: #ffffff;
    text-decoration: none;

    margin-left: 80px;
    display: inline-block; 
 
}
.memes {

    text-align: center;
    border-color: #ffffff;
    font-family: Lemonmilk Regular;
    color: #ffffff;
    text-decoration: none;

    margin-left: 80px;
    display: inline-block; 
 
}
.filmes {

    text-align: center;
    border-color: #ffffff;
    font-family: Lemonmilk Regular;
    color: #ffffff;
    text-decoration: none;

    margin-left: 80px;
    display: inline-block; 
 
}

.navegar {
  display: flex; /* Permite alinhar horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  gap: 40px; /* Espaçamento entre os itens */
  padding: 10px;
  background-color: #6d1010;
  /* Removido position: absolute para evitar sobreposição */
  width: 100%;
   }

.texto {
    font-size: 20px;
    color: #5c1717;
    font-family: Lemonmilk Regular;
    padding: 70px;
    text-align: center;
    position: relative;
}
.favoritos{
    font-size: 20px;
    color: #5c1717;
    font-family: Lemonmilk Regular;
    padding: 70px;
    text-align: center;
    position: relative;
}

@font-face {
    font-family: Lemonmilk Regular;
    src: url(./LEMONMILK-Regular.otf);
}

.paginainicial:hover {
    color: rgb(49, 6, 6);
}

.musicas:hover {
    color: rgb(49, 6, 6);
}

.memes:hover {
    color: rgb(49, 6, 6);
}

.filmes:hover {
    color: rgb(49, 6, 6);
}
