body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #bd8686;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .Daniela {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    text-align: left;
    font-family: Lemonmilk Regular;
    font-weight:normal;
    color: #ffffff;


}

.paginainicial {
    text-align: center;

    border-color: #ffffff;
    font-family: Lemonmilk Regular;
    color: #ffffff;
    text-decoration: none;
    
}

  .navegar{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #6d1010;
  
}

.texto {
    font-size: 20px;
    color: #5c1717;
    font-family: Lemonmilk Regular;
    padding: 70px;
    text-align: center;
    position: relative;
}

@font-face {
    font-family: Lemonmilk Regular;
    src: url(./LEMONMILK-Regular.otf);
}

.paginainicial:hover {
    color: rgb(49, 6, 6);
}
